/* ================================= 
  Base Element Styles
==================================== */

body {
    font-family: 'Solway', serif;
    margin: auto;
    padding: 0px;
}

a {
    text-decoration: none;
}

p {
    font-size: 1em;
    margin-bottom: 1.8em;
}

img {
    max-width: 100%;
}

/* ---- Navigation ---- */

.name {
    margin: 0;
    text-align: center;
}

.main-nav {
    margin-top: 5px;
}

.name a,
.main-nav a {
    text-align: center;
    padding: 10px 15px;
}

.main-nav a {
    text-transform: uppercase;
    padding: 1em;
}

.main-nav a:hover {
    color: ;

}

/* ---- Layout Containers ---- */

.container {
   width: 100%;
   overflow: hidden; 
}

.banner {
    background: lightgray;
}

/* ---- Page Elements ---- */

.profile {
    width: 260px;
}



.main-nav li {
    display: block;
 }