/* ================================= 
  Base Element Styles
==================================== */


* {
	box-sizing: border-box;
}

body {
    font-family: 'Solway', serif;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 1em;
    margin-bottom: 1.8em;
}

img {
    max-width: 100%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

header {
    margin: auto;
}

/* ---- Navigation ---- */

.name {
    text-align: center;
}

.main-nav {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.name a,
.main-nav a {
    display: block;
    text-align: center;
}

.main-nav a {
    text-transform: uppercase;
    padding: 1em;
    background-color: white;
}

.main-nav a:hover {
    color: pink;

}

/* ---- Layout Containers ---- */

.container {
   width: 100%;
   overflow: hidden; 
}

.main-header {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    background: #f4f7f6;
}

/* ---- Page Elements ---- */

.main-nav li {
    display: block;
    padding: 5px;
    background: blue;
 }

.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 70%;
}

.bio {
    display: block;
    text-align: center;
}

.portfolio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.headline {
    text-align: center;
}

.p {
    text-align: center;
}

